body {
    background-color: #000;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    user-select: none;
}
canvas {
    image-rendering: pixelated;
}
div.startScreenContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.startScreen {
    max-width: 30rem;
    background-color: #008;
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 2rem;
    text-align: center;
}
div.startScreen h1,
div.startScreen h2 {
    margin: 0px;
}
div.startScreen h1 {
    white-space: nowrap;
    font-size: 1.5rem
}
div.startScreen h2 { font-size: 1.1rem }
div.startScreen a {
    color: #DDD;
}
div.startScreen a:hover {
    color: #EEE;
}
div.startScreen .disclaimer { font-size: 0.75rem; }
div.startScreen .pressEnter {
    border: 1px solid #FFF;
    padding: 1em;
    margin: 1em 0px;
}
button.touchJump, button.touchDirPad {
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    right: 2rem;
    bottom: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    color: #000;
    border: 5px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}

button.touchDirPad {
    left: 2rem;
    right: auto;
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    overflow: hidden;
}
button.touchDirPad span.arrowTop,
button.touchDirPad span.arrowLeft,
button.touchDirPad span.arrowBottom,
button.touchDirPad span.arrowRight {
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    color: #000;
}
button.touchDirPad span.arrowTop {
    transform: rotate(-90deg);
    top: 0.5em;
}
button.touchDirPad span.arrowRight {
    left: auto;
    right: 0.5em;
}
button.touchDirPad span.arrowBottom {
    transform: rotate(90deg);
    top: auto;
    bottom: 0.5em;
}
button.touchDirPad span.arrowLeft {
    transform: rotate(180deg);
    left: 0.5em;
}